@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
  --color--white: #ffffff;
  --color--black: #000000;
  --color--light-grey: #e6e6e6;
  --color--grey: #cccccc;
  --color--dark-grey: #7b7b7b;
  --color--primary: #2aa1c0;
  --color--secondary: #0e647d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(0.5turn, #3f87a6, #ebf8e1);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Prompt", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#playGround {
  display: flex;
  justify-content: center;
}

#canvas {
  padding: 0.5em 1em;
  max-width: 580px;
  max-height: 580px;
}

#highscorTable {
  position: relative;
}

.respTableScore{
    display: flex;
    flex-direction: row;
}

table,
td,
th {
  padding: 0.5rem 0.5rem;
  text-align: center;
}

table {
  display: block;
  justify-content: left;
  border-collapse: collapse;
  margin: 25px 10px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 150px;
  max-width: 240px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Prompt", sans-serif;
}

#rank {
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
}

.highscoresTable {
  font-size: 1em;
  font-weight: bold;
}

#status {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 25px 0;
  gap: 1em;
}

#settingTitle{
  margin-top: 1.5em;
  margin-left: 2em;
}

.settings-closed {
    display: none;
  }
  
.settings-open {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1em;
}

#settingsButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;     
}

.selectDiv {
  position: relative;
  display: inline-block;
  margin-bottom: 0em;
  width: 100%;
}

select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: var(--color--light-grey);
  color: var(--color--black);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

&::-ms-expand {
  display: none;
}

&:hover,
&:focus {
  color: var(--color--black);
  background: var(--color--grey);
}

&:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--color--dark-grey) transparent transparent transparent;
}

.select select:hover ~ & .select select:focus ~ & {
  border-top-color: var(--color--black);
}

#playButtons {
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 580px;
}


.button {
  appearance: button;
  background-color: #7ec3e2;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button:after {
  background-clip: padding-box;
  background-color: #69bfe7;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.delete {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.7em 1.7em;
  font-size: 0.9em;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 2em;
  cursor: pointer;
}

.delete:hover {
  opacity: 1;
}



@media screen and (max-width: 960px) {
  body {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .header {
    flex-direction: column-reverse;
    column-gap: 0;
  }
  table {
    margin: 2px 2px;
    font-size: 0.7em;
    min-width: 130px;
    max-width: 190px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  #status {
    margin: 0px 0;
    gap: 0.3em;
    font-size: 0.8em;
  }
  #settingTitle{
    margin-top: 0em;
    font-size: 0.8em;
  }
  .settings-open {
    gap: 1em;
}
  .select{
    font-size: 1px;
    width: 0%;
  }
  select{
    height: 2.5em;
    padding: 0px opx;
  }
  
  .respTableScore{
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
}   
  #canvas {
    width: 280px;
    height: 250px;
  }
  #playButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
    margin-left: 4.5em;
  }
  .button {
    width: 5em;
    font-size: 0.8em;
  }
  .delete {
    font-size: 1em; 
  }
}
